* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-black: #000;
  --text-white: #fff;
  --text-orange: #ff6900;

  --background-white: #fff;
  --background-black: #000;
  --background-orange: #ff6900;
  --background-red: #790b0b;
  --background-blue-light: #00dbf1;
  --background-silver: #dedadb;
  --background-silver_dark: #f2f3f7;
  --background-brown: #e1dcd6;
  --background-dark: #7d8288;
  --background-dark-light: #3e4b5b;
  --background-dark-level: #c3c4c8;
  --background-silverchair: #edeef2;
  --background-black-silver: #858688;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

.container {
  max-width: 90rem;
  background-color: var(--background-white);
  background-repeat: repeat-y;
  margin-right: auto;
  margin-left: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

div .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

div .col-sm-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.boxcolor {
  background: var(--background-silver);
}
.boxcolor2 {
  background: var(--background-blue-light);
}

.boxcolor3 {
  background: var(--background-brown);
}

.boxcolor4 {
  background: var(--background-silver_dark);
}

.boxcolor5 {
  background: var(--background-dark);
}

.boxcolor6 {
  background: var(--background-dark-light);
}
.boxcolor7 {
  background: var(--background-dark-level);
}

.boxcolor8 {
  background: var(--background-silverchair);
}

.boxcolor9 {
  background: var(--background-black-silver);
}

/***************************** Grind *****************************/

.grid-xiaomi {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}

/**************************** Font's *****************************/

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  position: relative;
  margin-bottom: 5rem;
}

.subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  position: relative;
  margin-bottom: 1rem;
}

.p-center {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
  position: relative;
}

.icons-text {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  font-weight: 400;
}

.icons-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  position: relative;
}

/**************************** Mob's *****************************/

@media (max-width: 920px) {
  .title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
    padding: 1rem;
    margin-bottom: 0.2rem;
  }

  .subtitle {
    text-align: center;
    font-size: 1.71rem;
    font-weight: 800;
    position: relative;
    margin-bottom: 0.2rem;
  }

  .p-center {
    font-size: 1.1rem;
    text-align: center;
    position: relative;
  }

  .p-center-text {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    position: relative;
  }

  .icons-text {
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    font-weight: 400;
  }

  .icons-title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 800;
    position: relative;
  }

  .grid-xiaomi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}
